.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;

}
.img{
  
    grid-column: 1/3;
    
   
}
.pic{
    margin-left: 450px;
}
.content{
    width: 328px;
    height: 126px;
   padding-top: 100px;
   padding-left:190px;
   
  
   

}

#cont1{
    font-size: 60px;
    font-weight: 500;
    color: rgba(255, 156, 43, 1);
   margin-top: 20px;


}
#pr{
    line-height: 20px;
   margin-top:10px ;
    

   
}
.login{
         border: 2px solid blue;
        max-width: 350px;
        background-color: #fff;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 10px;
        justify-content: center;
        margin-top: 50px;
        
   
   
}
.login h2{
    text-align: center;
    font-size: 50px;
}
.login form{
    
        display: flex;
        flex-direction: column;
    }
    #mail{
        background: rgba(243, 244, 246, 1);
        padding:10px;
        box-shadow:10px 10px 10px rgb(215, 222, 236);
        width: 300px;
        border-radius: 5px;
        font-size: 16px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
    
    
    }
    #password{
        
        background: rgba(243, 244, 246, 1);
        padding: 10px;
        box-shadow:10px 10px 10px rgb(215, 222, 236);
        width: 300px;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
    
    
    
    
    }
    .login label{
       display: block;
       margin-bottom: 5px;
       font-weight: bold;
       padding: 5px;
    
    }
    .remember{
        display:flex;
       align-items: center;
        margin-top: 30px;
        gap:60px
    }
    .login a:hover{
        text-decoration: underline;
    }
    .sig{
        background-color: rgb(86, 105, 136);
        color: white;
        padding: 10px;
        width: 300px;
        border: none;
        font-size: 16px;
        background-color: 5px;
        cursor: pointer;
        border-radius: 10px;
        
       
    }
    .login p{
        text-align:center;
        margin-right: 60px;
        padding: 5px;
    }
    .hot  i{
        margin-right: 200px;
    }

.rs{
    background-color: #fff;
    align-items: center;
   justify-content: center;
  
}
#bulb{
    position: relative;
    bottom: 250px;
    left: 450px;
    
}
.google{
   
    padding: 10px;
    border-radius:18% ;
    border: 2px solid  rgba(254, 241, 241, 1);

    width:81px;
    height: 36px;
   margin: 0 10px;
    cursor: pointer;
   
    
    background: rgb(240, 236, 236);




}
.facebook{
    
     padding: 10px;
     border-radius:18% ;
     border: 2px solid rgb(218, 220, 223);
     
     width:81px;
     height: 36px;
    margin: 0 10px;
     cursor: pointer;
     background: rgba(243, 246, 251, 1);

}


.iphone{
    padding: 10px;
    border-radius:18% ;
    border: 2px solid rgb(218, 220, 223);
    width:81px;
    height: 36px;
   margin: 0 10px;
    cursor: pointer;
    background: rgba(243, 246, 251, 1);
}

.footer {
    margin-left: 299px;
    padding: 50px;
}
.footer a{
    text-align: center;
    text-decoration: none;
    
}
.footer span{
    text-decoration:underline;
    color:  rgba(255, 156, 43, 1);

    
}